.users-list {
  margin: 70px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.users-list__item {
  display: flex;
  align-items: center;
}

.users-list__image-container {
  margin-right: 10px;
}

.users-list__image {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
}

.users-list__text {
  margin-top: 4px;
}

/* Loading animation */

/* https://nzbin.github.io/three-dots/ */
.loading-view,
.loading-view::before,
.loading-view::after {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--color-accent);
  border-radius: 5px;
  animation: dotFlashing 1s infinite alternate;
}

.loading-view {
  position: relative;
  margin-left: 10px;
  vertical-align: baseline;
  animation-delay: 0.5s;
}

.loading-view::before,
.loading-view::after {
  content: "";
  position: absolute;
  top: 0;
  animation: dotFlashing 1s infinite alternate;
}

.loading-view::before {
  left: -9px;
  animation-delay: 0s;
}

.loading-view::after {
  left: 9px;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: var(--color-accent);
  }
  50%,
  100% {
    background-color: var(--color-grey);
  }
}
